# To update requirements.txt, run the following in a virtual environment:
#
#    python3 -m pip install pip-tools
#    pip-compile --resolver=backtracking
#
dbt-postgres==1.4.5
data-diff[dbt]
sqeleton
